body
{
	background-color: black;
	color: lightgrey;
}
#blurb
{
	float: left;
	width: 50%;
	margin: 0px;
}
#chatbox
{
	float: right
	width: 50%;
	height: 100%;
	margin: 0px;
}
#irc
{
	width: 45%;
	height: 90%;
	margin: 0px;
}
